In [55]:
import pandas as pd
import numpy as np
import os
import openpyxl

In [56]:
train_df = pd.read_excel('./Dataset/Training/Final_감성대화말뭉치_Training/감성대화말뭉치(최종데이터)_Training.xlsx', engine='openpyxl')
validation_df = pd.read_excel('./Dataset/Validation/Final_감성대화말뭉치_Validation/감성대화말뭉치(최종데이터)_Validation.xlsx', engine='openpyxl')

train_df.set_index("번호", inplace=True)
validation_df.set_index("번호", inplace=True)

# 필요없는 컬럼 drop
train_df = train_df.drop(["연령", "성별", "신체질환", '감정_소분류',], axis=1)
validation_df = validation_df.drop(["연령", "성별", "신체질환", '감정_소분류',], axis=1)

# 컬럼명 변경
train_df.rename(columns={'상황키워드': 'keywords', '감정_대분류':'major_emotions', '사람문장1':'user1', '시스템응답1':'chatbot1', '사람문장2':'user2', '시스템응답2':'chatbot2', '사람문장3':'user3', '시스템응답3':'chatbot3', '사람문장4':'user4', '시스템응답4':'chatbot4'}, inplace=True)
validation_df.rename(columns={'상황키워드': 'keywords', '감정_대분류':'major_emotions', '사람문장1':'user1', '시스템응답1':'chatbot1', '사람문장2':'user2', '시스템응답2':'chatbot2', '사람문장3':'user3', '시스템응답3':'chatbot3', '사람문장4':'user4', '시스템응답4':'chatbot4'}, inplace=True)

In [57]:
# 감정_대분류 : '불안 ', '기쁨 ' -> '불안', '기쁨'
train_df.loc[train_df['major_emotions'] == '기쁨 ', 'major_emotions'] = '기쁨'
train_df.loc[train_df['major_emotions'] == '불안 ', 'major_emotions'] = '불안'

validation_df.loc[validation_df['major_emotions'] == '기쁨 ', 'major_emotions'] = '기쁨'
validation_df.loc[validation_df['major_emotions'] == '불안 ', 'major_emotions'] = '불안'

In [58]:
train_df

,keywords,major_emotions,user1,chatbot1,user2,chatbot2,user3,chatbot3,user4,chatbot4
번호,,,,,,,,,,
44164.0,"연애, 결혼, 출산",기쁨,아내가 드디어 출산하게 되어서 정말 신이 나.,아내분이 출산을 하시는군요. 정말 축하드려요.,아 지금 정말 신이 나.,잘 된 일이네요.,아기가 점점 클게 벌써 기대가 되네. 내가 많이 놀아줘야지.,좋은 아빠가 되실 거 같아요. 진심으로 축하드려요.,NaN,NaN
3926.0,"건강, 죽음",불안,당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.,약 종류가 많아 번거로우시겠어요.,건강할 때 관리 좀 잘할걸 하는 생각이 들더라고.,현재 상황에서 변화를 주기 위해 어떻게 하면 될까요?,약을 잘 챙겨 먹고 나을 수 있도록 노력해야지.,약을 잘 챙겨 먹어 건강해지시길 바랄게요.,NaN,NaN
50882.0,학업 및 진로,당황,고등학교에 올라오니 중학교 때보다 수업이 갑자기 어려워져서 당황스러워.,고등학교 수업이 중학교 때와는 다르게 갑자기 어려워서 당황스러우시군요.,아직 학기 초인데 내가 수업에 잘 따라갈 수 있을지 걱정돼.,이 상황에서 할 수 있는 게 어떤 것이 있을까요?,중학교 수업을 들을 때보다 훨씬 더 열심히 할 거야.,수업을 어떤 방식으로 열심히 듣는게 좋을까요?,선생님이 강조하신 부분을 필기하고 집에서 매일 수업 내용을 복습하려고 해.,열심히 해서 좋은 결과가 있었으면 좋겠어요.
31303.0,재정,기쁨,재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야. 너무 행복해.,재취업 후 첫 월급이라 정말 기쁘시겠어요.,퇴직 후 다시는 돈을 못 벌 줄 알았는데 이렇게 월급으로 가족에게 맛있는 밥을 살 ...,이 기분을 유지하려면 어떻게 해야 할까요?,회사생활을 열심히 해서 계속 월급을 받을거야!,계속 원하시는 대로 회사생활이 이어지길 바랄게요.,NaN,NaN
47200.0,재정,기쁨,빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.,기분 좋으시겠어요. 앞으로는 어떻게 하실 생각이신가요?,빚도 다 갚았으니 당분간은 아무 생각도 안 하며 살고 싶어.,빚도 다 갚았으니 당분간은 아무 생각도 안 하며 살고 싶으시군요.,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### major_emotions 라벨링

In [59]:
# 감정_대분류 labeling
train_df.loc[(train_df['major_emotions']=="분노"), 'major_emotions'] = 0
train_df.loc[(train_df['major_emotions']=="슬픔"), 'major_emotions'] = 1
train_df.loc[(train_df['major_emotions']=="불안"), 'major_emotions'] = 2
train_df.loc[(train_df['major_emotions']=="상처"), 'major_emotions'] = 3
train_df.loc[(train_df['major_emotions']=="당황"), 'major_emotions'] = 4
train_df.loc[(train_df['major_emotions']=="기쁨"), 'major_emotions'] = 5

### keywords 라벨링

In [60]:
train_df.loc[(train_df['keywords']=="대인관계"), 'keywords'] = 0
train_df.loc[(train_df['keywords']=="대인관계(부부, 자녀)"), 'keywords'] = 0
train_df.loc[(train_df['keywords']=="진로, 취업, 직장"), 'keywords'] = 1
train_df.loc[(train_df['keywords']=="직장, 업무 스트레스"), 'keywords'] = 1
train_df.loc[(train_df['keywords']=="연애, 결혼, 출산"), 'keywords'] = 2
train_df.loc[(train_df['keywords']=="건강, 죽음"), 'keywords'] = 3
train_df.loc[(train_df['keywords']=="건강"), 'keywords'] = 3
train_df.loc[(train_df['keywords']=="재정"), 'keywords'] = 4
train_df.loc[(train_df['keywords']=="재정, 은퇴, 노후준비"), 'keywords'] = 4
train_df.loc[(train_df['keywords']=="학업 및 진로"), 'keywords'] = 5
train_df.loc[(train_df['keywords']=="학교폭력/따돌림"), 'keywords'] = 6
train_df.loc[(train_df['keywords']=="가족관계"), 'keywords'] = 7

In [61]:
train_df

,keywords,major_emotions,user1,chatbot1,user2,chatbot2,user3,chatbot3,user4,chatbot4
번호,,,,,,,,,,
44164.0,2,5,아내가 드디어 출산하게 되어서 정말 신이 나.,아내분이 출산을 하시는군요. 정말 축하드려요.,아 지금 정말 신이 나.,잘 된 일이네요.,아기가 점점 클게 벌써 기대가 되네. 내가 많이 놀아줘야지.,좋은 아빠가 되실 거 같아요. 진심으로 축하드려요.,NaN,NaN
3926.0,3,2,당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.,약 종류가 많아 번거로우시겠어요.,건강할 때 관리 좀 잘할걸 하는 생각이 들더라고.,현재 상황에서 변화를 주기 위해 어떻게 하면 될까요?,약을 잘 챙겨 먹고 나을 수 있도록 노력해야지.,약을 잘 챙겨 먹어 건강해지시길 바랄게요.,NaN,NaN
50882.0,5,4,고등학교에 올라오니 중학교 때보다 수업이 갑자기 어려워져서 당황스러워.,고등학교 수업이 중학교 때와는 다르게 갑자기 어려워서 당황스러우시군요.,아직 학기 초인데 내가 수업에 잘 따라갈 수 있을지 걱정돼.,이 상황에서 할 수 있는 게 어떤 것이 있을까요?,중학교 수업을 들을 때보다 훨씬 더 열심히 할 거야.,수업을 어떤 방식으로 열심히 듣는게 좋을까요?,선생님이 강조하신 부분을 필기하고 집에서 매일 수업 내용을 복습하려고 해.,열심히 해서 좋은 결과가 있었으면 좋겠어요.
31303.0,4,5,재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야. 너무 행복해.,재취업 후 첫 월급이라 정말 기쁘시겠어요.,퇴직 후 다시는 돈을 못 벌 줄 알았는데 이렇게 월급으로 가족에게 맛있는 밥을 살 ...,이 기분을 유지하려면 어떻게 해야 할까요?,회사생활을 열심히 해서 계속 월급을 받을거야!,계속 원하시는 대로 회사생활이 이어지길 바랄게요.,NaN,NaN
47200.0,4,5,빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.,기분 좋으시겠어요. 앞으로는 어떻게 하실 생각이신가요?,빚도 다 갚았으니 당분간은 아무 생각도 안 하며 살고 싶어.,빚도 다 갚았으니 당분간은 아무 생각도 안 하며 살고 싶으시군요.,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Train dataset Preprocessing
(일단 train dataset에 대해서만 진행)

## {user:chatbot}, {chatbot:user} 로 데이터셋 분할

In [62]:
train_df1 = train_df[['keywords', 'major_emotions', 'user1', 'chatbot1']]
train_df2 = train_df[['keywords', 'major_emotions', 'chatbot1', 'user2']]
train_df3 = train_df[['keywords', 'major_emotions', 'user2', 'chatbot2']]
train_df4 = train_df[['keywords', 'major_emotions', 'chatbot2', 'user3']]
train_df5 = train_df[['keywords', 'major_emotions', 'user3', 'chatbot3']]
train_df6 = train_df[['keywords', 'major_emotions', 'chatbot3', 'user4']]
train_df7 = train_df[['keywords', 'major_emotions', 'user4', 'chatbot4']]

In [63]:
train_df4

,keywords,major_emotions,chatbot2,user3
번호,,,,
44164.0,2,5,잘 된 일이네요.,아기가 점점 클게 벌써 기대가 되네. 내가 많이 놀아줘야지.
3926.0,3,2,현재 상황에서 변화를 주기 위해 어떻게 하면 될까요?,약을 잘 챙겨 먹고 나을 수 있도록 노력해야지.
50882.0,5,4,이 상황에서 할 수 있는 게 어떤 것이 있을까요?,중학교 수업을 들을 때보다 훨씬 더 열심히 할 거야.
31303.0,4,5,이 기분을 유지하려면 어떻게 해야 할까요?,회사생활을 열심히 해서 계속 월급을 받을거야!
47200.0,4,5,빚도 다 갚았으니 당분간은 아무 생각도 안 하며 살고 싶으시군요.,NaN
...,...,...,...,...
NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN

### ======= train_df1 =======

In [64]:
print('중복 제거 전 컬럼 별 unique 개수: ',
      train_df1['user1'].nunique(),
      train_df1['chatbot1'].nunique(),
      train_df1['major_emotions'].nunique())

# user1, chatbot1 열에서 중복인 내용이 있다면 중복 제거
train_df1 = train_df1.drop_duplicates(subset=['user1']).reset_index(drop=True)
train_df1 = train_df1.drop_duplicates(subset=['chatbot1']).reset_index(drop=True)

print('중복을 제거한 후 총 샘플의 수 :',len(train_df1))

train_df1['user1'] = train_df1['user1'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df1['user1'] = train_df1['user1'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df1['chatbot1'] = train_df1['chatbot1'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df1['chatbot1'] = train_df1['chatbot1'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df1['user1'].replace('', np.nan, inplace=True)
train_df1['chatbot1'].replace('', np.nan, inplace=True)

중복 제거 전 컬럼 별 unique 개수:  39415 39177 6
중복을 제거한 후 총 샘플의 수 : 38967

In [65]:
train_df1['major_emotions'].value_counts()

2    7035
1    6586
0    6570
5    6414
3    6334
4    6027
Name: major_emotions, dtype: int64

In [66]:
train_df1['keywords'].value_counts()

0    10226
1     6769
3     5691
4     5603
2     3838
5     2371
6     2279
7     2189
Name: keywords, dtype: int64

### ======= train_df2 =======

In [67]:
print('중복 제거 전 컬럼 별 unique 개수: ',
      train_df2['chatbot1'].nunique(),
      train_df2['user2'].nunique(),
      train_df2['major_emotions'].nunique())

# chatbot1, user2 열에서 중복인 내용이 있다면 중복 제거
train_df2 = train_df2.drop_duplicates(subset=['chatbot1']).reset_index(drop=True)
train_df2 = train_df2.drop_duplicates(subset=['user2']).reset_index(drop=True)

print('중복을 제거한 후 총 샘플의 수 :',len(train_df2))

train_df2['chatbot1'] = train_df2['chatbot1'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df2['chatbot1'] = train_df2['chatbot1'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df2['user2'] = train_df2['user2'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df2['user2'] = train_df2['user2'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df2['chatbot1'].replace('', np.nan, inplace=True)
train_df2['user2'].replace('', np.nan, inplace=True)

중복 제거 전 컬럼 별 unique 개수:  39177 38878 6
중복을 제거한 후 총 샘플의 수 : 38519

In [68]:
train_df2['major_emotions'].value_counts()

2    6975
1    6513
0    6452
5    6356
3    6259
4    5963
Name: major_emotions, dtype: int64

In [69]:
train_df2['keywords'].value_counts()

0    10100
1     6712
3     5603
4     5531
2     3802
5     2346
6     2268
7     2156
Name: keywords, dtype: int64

### ======= train_df3 =======

In [72]:
print('중복 제거 전 컬럼 별 unique 개수: ',
      train_df3['user2'].nunique(),
      train_df3['chatbot2'].nunique(),
      train_df3['major_emotions'].nunique())

# user1, chatbot1 열에서 중복인 내용이 있다면 중복 제거
train_df3 = train_df3.drop_duplicates(subset=['user2']).reset_index(drop=True)
train_df3 = train_df3.drop_duplicates(subset=['chatbot2']).reset_index(drop=True)

print('중복을 제거한 후 총 샘플의 수 :',len(train_df3))

train_df3['user2'] = train_df3['user2'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df3['user2'] = train_df3['user2'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df3['chatbot2'] = train_df3['chatbot2'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df3['chatbot2'] = train_df3['chatbot2'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df3['user2'].replace('', np.nan, inplace=True)
train_df3['chatbot2'].replace('', np.nan, inplace=True)

중복 제거 전 컬럼 별 unique 개수:  38878 38364 6
중복을 제거한 후 총 샘플의 수 : 38967

In [73]:
train_df3['major_emotions'].value_counts()

2    6820
1    6387
5    6334
0    6308
3    6116
4    5840
Name: major_emotions, dtype: int64

In [74]:
train_df3['keywords'].value_counts()

0    9922
1    6602
3    5506
4    5414
2    3759
5    2297
6    2197
7    2108
Name: keywords, dtype: int64

### ======= train_df4 =======

In [76]:
print('중복 제거 전 컬럼 별 unique 개수: ',
      train_df4['chatbot2'].nunique(),
      train_df4['user3'].nunique(),
      train_df4['major_emotions'].nunique())

# chatbot1, user2 열에서 중복인 내용이 있다면 중복 제거
train_df4 = train_df4.drop_duplicates(subset=['chatbot2']).reset_index(drop=True)
train_df4 = train_df4.drop_duplicates(subset=['user3']).reset_index(drop=True)

print('중복을 제거한 후 총 샘플의 수 :',len(train_df2))

train_df4['chatbot2'] = train_df4['chatbot2'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df4['chatbot2'] = train_df4['chatbot2'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df4['user3'] = train_df4['user3'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df4['user3'] = train_df4['user3'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df4['chatbot2'].replace('', np.nan, inplace=True)
train_df4['user3'].replace('', np.nan, inplace=True)

중복 제거 전 컬럼 별 unique 개수:  38364 29368 6
중복을 제거한 후 총 샘플의 수 : 38519

In [78]:
train_df4['major_emotions'].value_counts()

2    5033
1    4767
5    4675
0    4658
3    4580
4    4372
Name: major_emotions, dtype: int64

In [77]:
train_df4['keywords'].value_counts()

0    7411
1    4795
4    4124
3    4107
2    2807
5    1707
6    1650
7    1484
Name: keywords, dtype: int64

### ======= train_df5 =======

In [81]:
print('중복 제거 전 컬럼 별 unique 개수: ',
      train_df5['user3'].nunique(),
      train_df5['chatbot3'].nunique(),
      train_df5['major_emotions'].nunique())

# user1, chatbot1 열에서 중복인 내용이 있다면 중복 제거
train_df5 = train_df5.drop_duplicates(subset=['user3']).reset_index(drop=True)
train_df5 = train_df5.drop_duplicates(subset=['chatbot3']).reset_index(drop=True)

print('중복을 제거한 후 총 샘플의 수 :',len(train_df5))

train_df5['user3'] = train_df5['user3'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df5['user3'] = train_df5['user3'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df5['chatbot3'] = train_df5['chatbot3'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df5['chatbot3'] = train_df5['chatbot3'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df5['user3'].replace('', np.nan, inplace=True)
train_df5['chatbot3'].replace('', np.nan, inplace=True)

중복 제거 전 컬럼 별 unique 개수:  29368 30280 6
중복을 제거한 후 총 샘플의 수 : 28986

In [82]:
train_df5['major_emotions'].value_counts()

2    5213
1    4913
0    4860
3    4753
5    4751
4    4496
Name: major_emotions, dtype: int64

In [83]:
train_df5['keywords'].value_counts()

0    7638
1    4931
4    4285
3    4242
2    2864
5    1755
6    1722
7    1549
Name: keywords, dtype: int64

### ======= train_df6 =======

In [85]:
print('중복 제거 전 컬럼 별 unique 개수: ',
      train_df6['chatbot3'].nunique(),
      train_df6['user4'].nunique(),
      train_df6['major_emotions'].nunique())

# chatbot1, user2 열에서 중복인 내용이 있다면 중복 제거
train_df6 = train_df6.drop_duplicates(subset=['chatbot3']).reset_index(drop=True)
train_df6 = train_df6.drop_duplicates(subset=['user4']).reset_index(drop=True)

print('중복을 제거한 후 총 샘플의 수 :',len(train_df6))

train_df6['chatbot3'] = train_df6['chatbot3'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df6['chatbot3'] = train_df6['chatbot3'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df6['user4'] = train_df6['user4'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df6['user4'] = train_df6['user4'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df6['chatbot3'].replace('', np.nan, inplace=True)
train_df6['user4'].replace('', np.nan, inplace=True)

중복 제거 전 컬럼 별 unique 개수:  30280 1472 6
중복을 제거한 후 총 샘플의 수 : 1431

In [86]:
train_df6['major_emotions'].value_counts()

5    268
4    263
0    249
1    241
2    228
3    182
Name: major_emotions, dtype: int64

In [87]:
train_df6['keywords'].value_counts()

0    344
1    243
6    208
4    158
3    153
5    149
7     97
2     79
Name: keywords, dtype: int64

### ======= train_df7 =======

In [88]:
train_df7

,keywords,major_emotions,user4,chatbot4
번호,,,,
44164.0,2,5,NaN,NaN
3926.0,3,2,NaN,NaN
50882.0,5,4,선생님이 강조하신 부분을 필기하고 집에서 매일 수업 내용을 복습하려고 해.,열심히 해서 좋은 결과가 있었으면 좋겠어요.
31303.0,4,5,NaN,NaN
47200.0,4,5,NaN,NaN
...,...,...,...,...
NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN

In [89]:
print('중복 제거 전 컬럼 별 unique 개수: ',
      train_df7['user4'].nunique(),
      train_df7['chatbot4'].nunique(),
      train_df7['major_emotions'].nunique())

# user1, chatbot1 열에서 중복인 내용이 있다면 중복 제거
train_df7 = train_df7.drop_duplicates(subset=['user4']).reset_index(drop=True)
train_df7 = train_df7.drop_duplicates(subset=['chatbot4']).reset_index(drop=True)

print('중복을 제거한 후 총 샘플의 수 :',len(train_df7))

train_df7['user4'] = train_df7['user4'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df7['user4'] = train_df7['user4'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df7['chatbot4'] = train_df7['chatbot4'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
train_df7['chatbot4'] = train_df7['chatbot4'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

train_df7['user4'].replace('', np.nan, inplace=True)
train_df7['chatbot4'].replace('', np.nan, inplace=True)

중복 제거 전 컬럼 별 unique 개수:  1472 1349 6
중복을 제거한 후 총 샘플의 수 : 1350

In [90]:
train_df7['major_emotions'].value_counts()

5    265
1    238
4    234
0    229
2    202
3    182
Name: major_emotions, dtype: int64

In [91]:
train_df7['keywords'].value_counts()

0    310
6    214
1    214
5    148
3    143
4    142
7     97
2     82
Name: keywords, dtype: int64

# train_df1~7 합치기

In [93]:
train_df

,keywords,major_emotions,user1,chatbot1,user2,chatbot2,user3,chatbot3,user4,chatbot4
번호,,,,,,,,,,
44164.0,2,5,아내가 드디어 출산하게 되어서 정말 신이 나.,아내분이 출산을 하시는군요. 정말 축하드려요.,아 지금 정말 신이 나.,잘 된 일이네요.,아기가 점점 클게 벌써 기대가 되네. 내가 많이 놀아줘야지.,좋은 아빠가 되실 거 같아요. 진심으로 축하드려요.,NaN,NaN
3926.0,3,2,당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.,약 종류가 많아 번거로우시겠어요.,건강할 때 관리 좀 잘할걸 하는 생각이 들더라고.,현재 상황에서 변화를 주기 위해 어떻게 하면 될까요?,약을 잘 챙겨 먹고 나을 수 있도록 노력해야지.,약을 잘 챙겨 먹어 건강해지시길 바랄게요.,NaN,NaN
50882.0,5,4,고등학교에 올라오니 중학교 때보다 수업이 갑자기 어려워져서 당황스러워.,고등학교 수업이 중학교 때와는 다르게 갑자기 어려워서 당황스러우시군요.,아직 학기 초인데 내가 수업에 잘 따라갈 수 있을지 걱정돼.,이 상황에서 할 수 있는 게 어떤 것이 있을까요?,중학교 수업을 들을 때보다 훨씬 더 열심히 할 거야.,수업을 어떤 방식으로 열심히 듣는게 좋을까요?,선생님이 강조하신 부분을 필기하고 집에서 매일 수업 내용을 복습하려고 해.,열심히 해서 좋은 결과가 있었으면 좋겠어요.
31303.0,4,5,재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야. 너무 행복해.,재취업 후 첫 월급이라 정말 기쁘시겠어요.,퇴직 후 다시는 돈을 못 벌 줄 알았는데 이렇게 월급으로 가족에게 맛있는 밥을 살 ...,이 기분을 유지하려면 어떻게 해야 할까요?,회사생활을 열심히 해서 계속 월급을 받을거야!,계속 원하시는 대로 회사생활이 이어지길 바랄게요.,NaN,NaN
47200.0,4,5,빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.,기분 좋으시겠어요. 앞으로는 어떻게 하실 생각이신가요?,빚도 다 갚았으니 당분간은 아무 생각도 안 하며 살고 싶어.,빚도 다 갚았으니 당분간은 아무 생각도 안 하며 살고 싶으시군요.,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
final_train_df = pd.DataFrame(
      {'keywords': train_df1['keywords'].tolist() + train_df2['keywords'].tolist() + train_df3['keywords'].tolist() +
                  train_df4['keywords'].tolist() + train_df5['keywords'].tolist() + train_df6['keywords'].tolist() +
                  train_df7['keywords'].tolist(),
      'major_emotions': train_df1['major_emotions'].tolist() + train_df2['major_emotions'].tolist() + train_df3['major_emotions'].tolist() +
                  train_df4['major_emotions'].tolist() + train_df5['major_emotions'].tolist() + train_df6['major_emotions'].tolist() +
                  train_df7['major_emotions'].tolist(),
      'Q': train_df1['user1'].tolist() + train_df2['chatbot1'].tolist() + train_df3['user2'].tolist() +
            train_df4['chatbot2'].tolist() + train_df5['user3'].tolist() + train_df6['chatbot3'].tolist() +
            train_df7['user4'].tolist(),
      'A': train_df1['chatbot1'].tolist() + train_df2['user2'].tolist() + train_df3['chatbot2'].tolist() +
            train_df4['user3'].tolist() + train_df5['chatbot3'].tolist() + train_df6['user4'].tolist() +
            train_df7['chatbot4'].tolist(),})

In [120]:
print(len(train_df1.index) +
      len(train_df2.index) +
      len(train_df3.index) +
      len(train_df4.index) +
      len(train_df5.index) +
      len(train_df6.index) +
      len(train_df7.index))

print(len(final_train_df))

175144
175144

In [114]:
final_train_df

,keywords,major_emotions,Q,A
0,2.0,5.0,아내가 드디어 출산하게 되어서 정말 신이 나,아내분이 출산을 하시는군요 정말 축하드려요
1,3.0,2.0,당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야,약 종류가 많아 번거로우시겠어요
2,5.0,4.0,고등학교에 올라오니 중학교 때보다 수업이 갑자기 어려워져서 당황스러워,고등학교 수업이 중학교 때와는 다르게 갑자기 어려워서 당황스러우시군요
3,4.0,5.0,재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야 너무 행복해,재취업 후 첫 월급이라 정말 기쁘시겠어요
4,4.0,5.0,빚을 드디어 다 갚게 되어서 이제야 안도감이 들어,기분 좋으시겠어요 앞으로는 어떻게 하실 생각이신가요
...,...,...,...,...
175139,3.0,2.0,미리 미리 건강 챙기고 모두 안 아팠으면 좋겠어,친구들과의 전화로 기분이 나아졌으면 좋겠어요
175140,4.0,4.0,주변에 믿음직한 사람들에게서 정보도 많이 얻고 달콤한 말은 항상 의심하고 볼래,신뢰가 있는 사람들에게서 정보도 얻고 하고자 하는 일도 잘되길 바라요
175141,3.0,2.0,친구들에게 내 마음을 터놓고 얘기하면 좀 나아질 것 같아,친구들과 술 한잔하시고 기분이 좋아지셨으면 좋겠어요
175142,0.0,4.0,남편에게 이런 내 마음을 솔직하게 얘기해 봐야겠어,솔직하게 얘기하셔서 외롭고 우울한 마음이 나아지셨으면 좋겠어요
175143,0.0,2.0,친구가 자기가 데려온 강아지에 대해 책임감을 갖고 스스로 잘 돌봤으면 좋겠어,친구에게 얘기해서 혼자 부담을 떠안지 않으면 좋겠어요

In [121]:
final_train_df.to_csv('train_preprocessing_data.csv', index=False)